.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  border-left: 1px solid var(--color-red-light);
  border-right: 1px solid var(--color-red-light);
}